---
import { Benefits, Button } from "@/components";
---

<script>
  import lottie_light from "lottie-web";
  import { inView, animate, stagger } from "motion";

  const lottieContainer = document.getElementById(
    "lottie-container:about",
  ) as HTMLElement;

  document.addEventListener("DOMContentLoaded", () => {
    lottie_light.loadAnimation({
      container: lottieContainer,
      renderer: "svg",
      loop: true,
      autoplay: true,
      path: "/animations/workingV2.json",
    });
  });

  inView("#about", () => {
    animate(
      "#aboutEl",
      { opacity: [0, 1], x: [-50, 0] },
      { duration: 1, delay: stagger(0.05, { startDelay: 0.3 }) },
    );
  });
</script>

<section id="about" class="mb-section mt-60 w-full">
  <div
    class="container flex flex-col-reverse justify-between gap-40 tablet:flex-row">
    <div
      class="max-table:items-center mb-28 flex flex-col max-tablet:justify-center max-tablet:text-center">
      <h3
        id="aboutEl"
        class="mb-6 w-[11ch] text-balance font-calistoga text-level-5 drop-shadow">
        Running your own business is tough enough
      </h3>
      <p
        id="aboutEl"
        class="relative mb-12 mt-6 max-w-[50ch] text-pretty text-light-gray">
        That&apos;s why Majic wants to provide a one-stop shop for businesses
        who need worry free web design & development services at a fair rate.
      </p>
      <Button floating id="aboutEl" class="px-20 py-3">
        See our affordable pricing
      </Button>
    </div>
    <figure id="lottie-container:about"></figure>
  </div>
  <Benefits />
</section>

<style>
  #lottie-container\:about {
    transform: translateY(-2rem);
    max-width: 40rem;
  }

  #aboutEl {
    opacity: 0;
  }
</style>
