---
import Arrow from "$/assets/icons/right-arrow-icon.svg";
import Benefits from "$/atoms/Benefits.astro";
import Button from "$/atoms/Button.astro";
---

<script>
  import { loadLottie, cleanupLottie } from "$/utils/lottieHelpers";

  document.addEventListener("astro:page-load", () => {
    loadLottie("working");

    document.addEventListener("astro:before-swap", () => {
      cleanupLottie();
    });
  });
</script>

<section id="about" class="mb-section mt-12 w-full scroll-mt-48 pb-12">
  <div
    class="tablet:flex-row tablet:gap-40 container flex flex-col-reverse justify-between gap-12">
    <div
      data-about-content
      class="tablet:items-start tablet:justify-center tablet:text-left intersect-once intersect:opacity-100 intersect:translate-0 tablet:-translate-x-15 mb-28 flex flex-col items-center text-center opacity-0 !duration-1000 ease-out will-change-transform max-md:translate-y-20">
      <h3
        class="font-calistoga text-level-5 mb-6 w-[11ch] text-balance drop-shadow">
        Running your own business is tough enough
      </h3>
      <p class="text-light-gray relative mt-6 mb-12 max-w-[45ch] text-pretty">
        That&apos;s why Majic aims to provide a one-stop shop for businesses who
        need worry free web design & development services at a fair rate.
      </p>
      <Button href="#services" floating class="group pl-6">
        See our affordable pricing
        <Arrow
          width={16}
          height={16}
          class="group-hover:wiggle rotation mr-5 ml-5 inline sm:ml-32"
        />
      </Button>
    </div>
    <canvas
      id="lottie-container-working"
      class="tablet:!h-112 tablet:!w-112 container:!h-160 container:!w-160 container:-translate-y-8 mx-auto aspect-square h-80 w-80 transform-gpu will-change-transform">
    </canvas>
  </div>
  <Benefits />
</section>

<style is:global>
  @keyframes wiggle-once {
    0% {
      transform: translateX(0) rotate(45deg);
    }
    20% {
      transform: translateX(-3px) rotate(45deg);
    }
    40% {
      transform: translateX(3px) rotate(45deg);
    }
    60% {
      transform: translateX(-2px) rotate(45deg);
    }
    80% {
      transform: translateX(2px) rotate(45deg);
    }
    100% {
      transform: translateX(0) rotate(45deg);
    }
  }

  .wiggle-on-hover {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    /* No animation by default */
    animation-name: none;
  }

  .rotation {
    transform: rotate(45deg);
  }

  /* Use with Tailwind group-hover */
  .group:hover .group-hover\:wiggle {
    animation-name: wiggle-once;
  }
</style>
