---
import { Icon } from "astro-icon/components";
import Benefits from "$/atoms/Benefits.astro";
import Button from "$/atoms/Button.astro";
---

<script>
  import { loadLottie } from "$/utils/lottieHelpers";

  document.addEventListener("astro:page-load", () => {
    const aboutLottie = loadLottie("working");

    document.addEventListener("astro:before-swap", () => {
      aboutLottie.destroy();
    });
  });
</script>

<section id="about" class="mb-section mt-12 w-full scroll-mt-48 pb-12">
  <div
    class="tablet:flex-row tablet:gap-40 container flex flex-col-reverse justify-between gap-12">
    <div
      class="tablet:items-start tablet:justify-center tablet:text-left intersect-once intersect-half intersect:opacity-100 intersect:translate-0 tablet:-translate-x-[60px] mx-auto mb-28 flex flex-col items-center text-center opacity-0 transition-all !duration-1000 ease-out max-md:translate-y-20">
      <h3
        class="font-calistoga text-level-5 mx-auto mb-6 w-[11ch] text-balance drop-shadow">
        Running your own business is tough enough
      </h3>
      <p class="text-light-gray relative mt-6 mb-12 max-w-[50ch] text-pretty">
        That&apos;s why Majic wants to provide a one-stop shop for businesses
        who need worry free web design & development services at a fair rate.
      </p>
      <Button href="/services" floating class="pl-6">
        See our affordable pricing
        <Icon name="right-arrow" class="mr-5 ml-5 inline sm:ml-32" />
      </Button>
    </div>
    <canvas
      id="lottie-container-working"
      class="tablet:!h-112 tablet:!w-112 container:!h-160 container:!w-160 container:-translate-y-8 mx-auto aspect-square h-80 w-80">
    </canvas>
  </div>
  <Benefits />
</section>
