---
import { Icon } from "astro-icon/components";
import { Benefits, Button } from "$/components";
---

<script>
  import lottie_light from "lottie-web";
  import { inView, animate, stagger } from "motion";

  document.addEventListener("astro:page-load", () => {
    const lottieContainer = document.getElementById(
      "lottie-container:about",
    ) as HTMLElement;

    // const workingAnimation = lottie_light.loadAnimation({
    //   container: lottieContainer,
    //   renderer: "svg",
    //   loop: true,
    //   autoplay: true,
    //   path: "/animations/workingV2.json",
    // });

    inView("#about", () => {
      animate(
        "#aboutEl",
        { opacity: [0, 1], x: [-50, 0] },
        { duration: 1, delay: stagger(0.05, { startDelay: 0.3 }) },
      );
    });

    window.addEventListener("astro:before-swap", () => {
      workingAnimation.destroy();
    });
  });
</script>

<section id="about" class="mb-section mt-60 w-full pb-12">
  <div
    class="container flex flex-col-reverse justify-between gap-12 tablet:flex-row tablet:gap-40">
    <div
      class="mx-auto mb-28 flex flex-col items-center text-center tablet:items-start tablet:justify-center tablet:text-left">
      <h3
        id="aboutEl"
        class="mx-auto mb-6 w-[11ch] text-balance font-calistoga text-level-5 drop-shadow">
        Running your own business is tough enough
      </h3>
      <p
        id="aboutEl"
        class="relative mb-12 mt-6 max-w-[50ch] text-pretty text-light-gray">
        That&apos;s why Majic wants to provide a one-stop shop for businesses
        who need worry free web design & development services at a fair rate.
      </p>
      <Button floating id="aboutEl" class="pl-6">
        See our affordable pricing
        <Icon name="right-arrow" class="ml-5 mr-5 inline sm:ml-32" />
      </Button>
    </div>
    <figure
      id="lottie-container:about"
      class="mx-auto h-min max-w-[16rem] sm:max-w-[28rem] tablet:max-w-[40rem]">
    </figure>
  </div>
  <Benefits />
</section>
