<section class="bg-dark-bg w-screen">
  <div class="container flex flex-col">
    <h3 class="mb-16 font-calistoga text-level-5">
      Ready to see Majic can do for you?
    </h3>
  </div>
</section>
