---
import logo from "$/assets/icons/logo.svg";
import { Image } from "astro:assets";
import Button from "$/atoms/Button.astro";
import ContactForm from "$/molecules/ContactForm.tsx";
---

<script>
  import { animate, inView } from "motion";

  document.addEventListener("astro:page-load", () => {
    inView("#contactEl", () => {
      animate(
        "#contactEl",
        { y: [30, 0], opacity: [0, 1] },
        { duration: 0.5, delay: 0.3 },
      );
    });
  });
</script>

<section id="contact" class="pt-section container flex scroll-mt-20">
  <div class="flex w-full flex-col">
    <h3 class="font-calistoga text-level-5 z-30 mb-16 text-center drop-shadow">
      Ready to see <p class="flashing-text inline drop-shadow-xl">
        Majic<span class="text-light drop-shadow"> can do for </span>you
      </p>?
    </h3>
    <div
      class="bg-light text-dark relative z-30 flex min-h-20 w-full flex-col items-center justify-evenly overflow-clip rounded-lg px-6 sm:items-start sm:px-16">
      <p class="font-calistoga text-level-3 mt-14 mb-4">Send us a message</p>
      <p class="mb-14 max-w-[50ch]">
        Your website should work as hard as you do. Connect with us today and
        let Majic help make it happen.
      </p>
      <ContactForm client:idle>
        <Button
          id="form-submit-button"
          as="button"
          type="submit"
          floating
          class="px-24 sm:px-48">
          Send
        </Button>
      </ContactForm>
      <Image
        src={logo}
        alt=""
        width={800}
        class="absolute top-12 right-5 z-10 -rotate-20 opacity-25"
      />
    </div>
  </div>
</section>
