---
import logo from "$/assets/logo.svg";
import { Image } from "astro:assets";
import { Button } from "$/components";
import ContactForm from "$/components/molecules/ContactForm.tsx";
---

<section class="w-screen bg-dark-bg">
  <div class="container flex flex-col">
    <h3 class="z-30 mb-16 text-center font-calistoga text-level-5 drop-shadow">
      Ready to see <span class="flashing-text drop-shadow-xl"
        >Majic<span class="text-light drop-shadow"> can do for </span>you</span
      >?
    </h3>
    <div
      class="relative z-30 flex min-h-20 w-full flex-col items-center justify-evenly overflow-clip rounded-lg bg-light px-6 text-dark sm:items-start sm:px-16">
      <p class="mb-4 mt-14 font-calistoga text-level-3">Send us a message</p>
      <p class="mb-14 max-w-prose">
        Connect with us today and let Majic illuminate the path to online
        greatness and amaze your visitors with every click.
      </p>
      <ContactForm client:only="solid-js">
        <Button as="button" type="submit" floating class="px-24 sm:px-48"
          >Send</Button
        >
      </ContactForm>
      <Image
        src={logo}
        alt=""
        width={800}
        class="right-50 absolute -right-16 top-12 z-10 -rotate-[20deg] opacity-30"
      />
    </div>
  </div>
</section>
