<section class="container mt-section flex flex-col items-center justify-center">
  <h3
    class="max-w-[18ch] text-balance text-center font-calistoga text-level-5 drop-shadow">
    <span id="examplesEl">Our clients are the stars</span>
    <span id="examplesEl"
      >we just help them <span class="flashing-text drop-shadow-xl">shine</span
      ></span
    >
  </h3>
</section>
