---
import Packages from "$/sections/Packages.astro";
import Button from "$/atoms/Button.astro";
---

<script>
  import { DotLottie } from "@lottiefiles/dotlottie-web";
  import { inView, animate, stagger } from "motion";

  const sequence = [
    [
      "#servicesEl",
      { opacity: [0, 1], x: [-50, 0] },
      { duration: 1, delay: stagger(0.05, { startDelay: 0.3 }) },
    ],
    ["#packagesEl", { opacity: [0, 1] }, { duration: 1, delay: 0.3 }],
  ];

  document.addEventListener("astro:page-load", () => {
    const stop = inView("#services", () => {
      const wandContainer = document.getElementById(
        "lottie-container-services",
      ) as HTMLCanvasElement;
      const flashingText = document.getElementById(
        "flashing-text",
      ) as HTMLElement;

      const anim = new DotLottie({
        canvas: wandContainer,
        src: "/animations/wand.lottie",
        loop: false,
        autoplay: false,
      });

      setTimeout(() => {
        anim.play();
        setTimeout(() => flashingText.classList.add("flashing-text"), 200);
      }, 1500);

      // @ts-expect-error
      animate(sequence);
      animate(wandContainer, { opacity: [0, 1] }, { delay: 1.5 });

      return () => {
        anim.destroy();
      };
    });

    window.addEventListener("astro:before-swap", () => {
      stop();
    });
  });
</script>

<section
  id="services"
  class="container relative flex flex-col justify-center pb-12">
  <canvas
    id="lottie-container-services"
    class="invisible w-24 container:visible">
  </canvas>
  <h3
    id="servicesEl"
    class="relative z-10 mb-6 max-w-[20ch] font-calistoga text-level-5 drop-shadow">
    Let's cast a spell of
    <span id="flashing-text" class="drop-shadow-xl">success</span> for your online
    journey
  </h3>
  <p id="servicesEl" class="my-6 max-w-[65ch] text-pretty text-light-gray">
    Majic goes above and beyond to provide the most complete digital service to
    our clients at an affordable price, offering three convenient packages that
    cover the majority of online needs. Everything you need to thrive on the
    web:
  </p>
  <p id="servicesEl" class="mb-16 mt-6 block font-bold">We take care of it.</p>
  <Packages />
  <div
    class="flex w-full flex-col items-center justify-center rounded-lg bg-[#94ADFF] p-8 text-center text-dark-purple selection:bg-dark-purple selection:text-light sm:p-16">
    <h2 class="text-balance font-calistoga text-level-4">
      Need something more specific?
    </h2>
    <p class="mb-8 mt-6 max-w-prose text-pretty">
      Get in touch for a personalized quote or
      <a
        href="/services"
        class="inline underline decoration-2 underline-offset-[5px] duration-300 hover:decoration-wavy">
        check out our services page</a
      >
      to see everything we offer, from 3D modeling to logo design and beyond!
    </p>
    <Button href="/contact" variant="dark" class="px-20">
      <span class="flashing-text text-level-1 font-semibold">Contact us</span>
    </Button>
  </div>
</section>

<style>
  #lottie-container-services {
    height: auto;
    position: absolute;
    top: -3rem;
    left: 56rem;
    transform: scaleX(-1);
    transform: rotate(260deg);
  }
</style>
