---
import { Packages } from "@/components";
---

<script>
  import lottie_light from "lottie-web";
  import { inView, animate, stagger } from "motion";

  const lottieContainer = document.getElementById(
    "lottie-container:services",
  ) as HTMLElement;
  const flashingText = document.getElementById("flashing-text") as HTMLElement;

  window.addEventListener("DOMContentLoaded", () => {
    const anim = lottie_light.loadAnimation({
      container: lottieContainer,
      renderer: "svg",
      loop: false,
      autoplay: false,
      path: "/animations/wand-waving.json",
    });

    inView("#services", () => {
      setTimeout(() => {
        anim.play();
        setTimeout(() => flashingText.classList.add("flashing-text"), 200);
      }, 1500);

      animate(
        "#servicesEl",
        { opacity: [0, 1], x: [-50, 0] },
        { duration: 1, delay: stagger(0.05, { startDelay: 0.3 }) },
      );
      animate(lottieContainer, { opacity: [0, 1] }, { delay: 1.5 });
    });
  });
</script>

<section
  id="services"
  class="container relative mb-section flex flex-col justify-center">
  <figure id="lottie-container:services"></figure>
  <h3
    id="servicesEl"
    class="relative z-10 mb-6 max-w-[20ch] font-calistoga text-level-5 drop-shadow">
    Let's cast a spell of <span id="flashing-text" class="drop-shadow-xl"
      >success</span
    > for your online journey
  </h3>
  <p id="servicesEl" class="my-6 max-w-[65ch] text-pretty text-light-gray">
    Majic goes above and beyond to provide the most complete digital service to
    our clients at an affordable price, offering three convenient packages that
    cover the majority of online needs. Everything you need to thrive on the
    web:
  </p>
  <p id="servicesEl" class="mb-16 mt-6 block font-bold">We take care of it.</p>
  <Packages />
</section>

<style>
  #lottie-container\:services {
    width: 180px;
    position: absolute;
    top: -3rem;
    left: 55rem;
    transform: scaleX(-1);
    transform: rotate(260deg);
  }
</style>
