---
import Packages from "$/sections/Packages.astro";
import Button from "$/atoms/Button.astro";
---

<section
  id="services"
  class="relative container flex scroll-mt-48 flex-col justify-center pb-12">
  {/* TODO: Fix the animations here to use normal translates */}
  <div
    class="intersect:opacity-100 intersect-once intersect-half tablet:intersect:-motion-translate-x-in-[60px] motion-duration-1000 max-md:intersect:motion-translate-y-in-25 motion-ease-out-cubic opacity-0 transition-opacity duration-1000 ease-out">
    <h3
      class="font-calistoga text-level-5 relative z-10 mb-6 max-w-[20ch] drop-shadow">
      Let's cast a spell of
      <span id="flashing-text" class="drop-shadow-xl">success</span> for your online
      journey
    </h3>
    <p class="text-light-gray my-6 max-w-prose text-pretty">
      Majic goes above and beyond to provide the most complete digital service
      to our clients at an affordable price, offering three convenient packages
      that cover the majority of online needs. Everything you need to thrive on
      the web:
    </p>
    <p class="mt-6 mb-16 block font-bold">We take care of it.</p>
  </div>
  <Packages />
  <div
    class="text-dark-purple selection:bg-dark-purple selection:text-light flex w-full flex-col items-center justify-center rounded-lg bg-[#94ADFF] p-8 text-center sm:p-16">
    <h2 class="font-calistoga text-level-4 text-balance">
      Need something more specific?
    </h2>
    <p class="mt-6 mb-8 max-w-prose text-pretty">
      Get in touch for a personalized quote or
      <a
        href="/services"
        class="inline underline decoration-2 underline-offset-[5px] duration-300 hover:decoration-wavy">
        check out our services page</a
      >
      to see everything we offer, from 3D modeling to logo design and beyond!
    </p>
    <Button href="/contact" variant="dark" class="px-20">
      <span class="flashing-text text-level-1 font-semibold">Contact us</span>
    </Button>
  </div>
</section>

<style>
  #lottie-container-services {
    height: auto;
    position: absolute;
    top: -3rem;
    left: 56rem;
    transform: scaleX(-1);
    transform: rotate(260deg);
  }
</style>
