---
import BaseLayout from "$/layouts/BaseLayout.astro";
import { GradientBG } from "$/components";
---

<BaseLayout>
  <div class="relative">
    <div class="absolute inset-0">
      <GradientBG />
    </div>
    <div class="relative">Clients</div>
  </div>
</BaseLayout>
