---
import Landing from "$/sections/Landing.astro";
import About from "$/sections/About.astro";
import Services from "$/sections/Services.astro";
import Examples from "$/sections/Examples.astro";
import Contact from "$/sections/Contact.astro";
import Footer from "$/molecules/Footer.astro";
import Stars from "$/atoms/Stars.astro";
import GradientBG from "$/atoms/GradientBG.astro";
import BaseLayout from "$/layouts/BaseLayout.astro";
---

<BaseLayout title="Dev | Majic Web Design">
  <div class="relative">
    <div class="absolute inset-0">
      <GradientBG />
    </div>
    <div class="relative">
      <Landing />
      <About />
      <Services />
    </div>
  </div>
  <div class="relative">
    <div class="absolute inset-0 top-0">
      <Stars>
        <Examples slot="examples" />
        <Contact slot="contact" />
        <Footer slot="footer" />
      </Stars>
    </div>
  </div>
</BaseLayout>
