---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Landing, About, Services } from "@/components";
---

<BaseLayout>
  <Landing />
  <About />
  <Services />
  <h1 class="min-h-[100dvh]">Astro</h1>
</BaseLayout>
