---
import BaseLayout from "$/layouts/BaseLayout.astro";
import GradientBG from "$/components/atoms/GradientBG.astro";
import {
  Landing,
  About,
  Services,
  Examples,
  Contact,
  Stars,
  Footer,
} from "$/components";
---

<BaseLayout>
  <div class="relative">
    <div class="absolute inset-0">
      <GradientBG />
    </div>
    <div class="relative">
      <Landing />
      <About />
      <Services />
    </div>
  </div>
  <div class="relative">
    <div class="absolute inset-0 top-0">
      <Stars>
        <Examples slot="examples" />
        <Contact slot="contact" />
        <Footer slot="footer" />
      </Stars>
    </div>
  </div>
</BaseLayout>
