---
import BaseLayout from "@/layouts/BaseLayout.astro";
import GradientBG from "@/components/GradientBG.astro";
import { Landing, About, Services, Examples, Stars } from "@/components";
---

<BaseLayout>
  <div class="relative">
    <div class="absolute inset-0">
      <GradientBG />
    </div>
    <div class="relative">
      <Landing />
      <About />
      <Services />
    </div>
  </div>
  <div class="relative">
    <figure
      class="absolute inset-0 z-10 h-[150vh] w-screen bg-gradient-to-b from-[#20204e] to-[#231731]">
    </figure>
    <div class="absolute z-20 w-full">
      <Examples />
      <!-- <figure class="absolute z-10 h-screen w-screen bg-[#231731]"></figure> -->
      <!-- <div class="relative z-20 min-h-[100dvh] w-screen">Astro</div> -->
    </div>
    <div class="absolute inset-0 top-0">
      <Stars />
    </div>
  </div>
</BaseLayout>
