---
import { Image } from "astro:assets";
import { Toaster } from "studiocms:ui/components";
import BaseLayout from "$/layouts/BaseLayout.astro";
import mobileBg from "$/assets/images/mobile-bg.png";
import Stars from "$/atoms/Stars.astro";
import Landing from "$/sections/Landing.astro";
import About from "$/sections/About.astro";
import Services from "$/sections/Services.astro";
import Examples from "$/sections/Examples.astro";
import Contact from "$/sections/Contact.astro";
import Footer from "$/molecules/Footer.astro";
import GradientBG from "$/components/atoms/GradientBG.astro";
---

<BaseLayout title="Dev | Majic Web Design">
  <Toaster position="top-center" />
  <GradientBG>
    <div class="relative z-20">
      <Landing />
      <About />
      <Services />
    </div>
  </GradientBG>
  <div class="relative">
    <div class="absolute inset-0 top-0">
      <Stars>
        <Examples slot="examples" />
        <Contact slot="contact" />
        <Footer slot="footer" />
      </Stars>
    </div>
  </div>
</BaseLayout>
