---
import {
  Landing,
  About,
  Services,
  Examples,
  Contact,
  Stars,
  GradientBG,
  Footer,
} from "$/components";
import BaseLayout from "$/layouts/BaseLayout.astro";
---

<BaseLayout title="Dev | Majic Web Design">
  <div class="relative">
    <div class="relative">
      <Landing />
      <About />
      <Services />
    </div>
  </div>
  <div class="relative">
    <div class="absolute inset-0 top-0">
      <Stars>
        <Examples slot="examples" />
        <Contact slot="contact" />
        <Footer slot="footer" />
      </Stars>
    </div>
  </div>
</BaseLayout>
