<script>
  document.addEventListener("astro:page-load", () => {
    const totalStars = 100;
    const fadingContainer = document.getElementById("fading-stars-container")!;
    const normalContainer = document.getElementById("normal-stars-container")!;

    function randomNumber(min: number, max: number) {
      return Math.random() * (max - min) + min;
    }

    function setStarOpacity(pos: number) {
      let opacity = 1;

      if (pos <= 35) {
        opacity = pos / 200;
      }

      return opacity;
    }

    for (let i = 0; i < totalStars; i++) {
      const star = document.createElement("figure");
      star.id = "star";

      star.style.top = `${randomNumber(0, 100)}%`;
      star.style.left = `${randomNumber(0, 100)}%`;
      star.style.animationDuration = `${randomNumber(2, 5)}s`;
      star.style.animationDelay = `${randomNumber(0, 5)}s`;

      const pos = parseInt(star.style.top.split(".")[0]);
      star.style.setProperty("--dynamic-opacity", `${setStarOpacity(pos)}`);

      fadingContainer.appendChild(star);
    }

    for (let i = 0; i < totalStars; i++) {
      const star = document.createElement("figure");
      star.id = "star";

      star.style.top = `${randomNumber(0, 100)}%`;
      star.style.left = `${randomNumber(0, 100)}%`;
      star.style.animationDuration = `${randomNumber(2, 5)}s`;
      star.style.animationDelay = `${randomNumber(0, 5)}s`;

      normalContainer.appendChild(star);
    }
  });
</script>

<div id="fading-stars-container">
  <figure
    class="to-dark-bg via-dark-bg absolute inset-0 h-full w-screen bg-gradient-to-b from-dark-purple via-80%">
  </figure>
  <slot name="examples" />
</div>
<div id="normal-stars-container">
  <slot name="contact" />
</div>

<style is:global>
  #fading-stars-container,
  #normal-stars-container {
    position: relative !important;
    width: 100%;
    height: fit-content !important;
    overflow: hidden;
    z-index: 10;
  }

  #star {
    position: absolute !important;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    opacity: var(--dynamic-opacity);
    animation: twinkle 1s infinite;
  }

  @keyframes twinkle {
    0%,
    100% {
      opacity: var(--dynamic-opacity);
    }
    50% {
      opacity: 0.3;
    }
  }
</style>
