---
import { navLinks } from "$/constants";
import { Button } from "$/components";
import { Icon } from "astro-icon/components";
import MobileNav from "$/components/molecules/MobileNav.tsx";
---

<script>
  import { animate } from "motion/mini";

  document.addEventListener("astro:page-load", () => {
    animate(
      "#header-wrapper",
      { opacity: [0, 1] },
      { duration: 0.5, delay: 0.5 },
    );
  });
</script>

<div
  id="header-wrapper"
  transition:persist
  class="fixed top-0 z-50 flex w-screen items-center justify-center px-0 container:px-7 container:pt-4">
  <header
    id="header"
    transition:persist
    class="transition-[color, box-shadow, backdrop-filter, background-image] flex w-full items-center justify-between px-6 py-4 duration-300 container:rounded-lg">
    <a href="/" class="flex cursor-pointer items-center gap-3">
      <figure
        id="logo"
        class="transition-[color, box-shadow, backdrop-filter, background-image] h-11 w-11 duration-300">
      </figure>
      <h1 class="font-calistoga">
        <span class="text-2xl">Majic&nbsp;</span>
        <span class="font-inter">
          | Beautiful Web <span class="hidden sm:inline">Solutions</span>
        </span>
      </h1>
    </a>
    <MobileNav client:only="solid-js">
      <Icon name="burger" class="text-3xl" />
      <Icon name="close" class="m-4 text-4xl text-dark" />
      <Button
        href="/contact"
        class="px-7 text-level-2 text-light"
        variant="dark">
        Contact
      </Button>
    </MobileNav>
    <nav class="hidden gap-3 tablet:flex">
      {
        navLinks.map(({ href, label }) => (
          <a
            href={href}
            class="cursor-pointer rounded-lg bg-gradient-to-r from-blurple/30 to-blurple/30 bg-[length:100%_0%] bg-bottom bg-no-repeat px-3 py-2 transition-[background-size] hover:bg-[length:100%_100%]">
            {label}
          </a>
        ))
      }
      <Button href="/contact" class="px-3 py-0" header>Contact Us</Button>
    </nav>
  </header>
</div>

<style>
  #header-wrapper {
    opacity: 0;
  }

  #header {
    max-width: clamp(16rem, 100%, 94rem);
  }

  html[data-is-top="true"] header {
    background-color: rgba(248, 250, 252, 0) !important;
    color: rgba(248, 250, 252, 0.9);

    & #burger {
      background-color: rgba(248, 250, 252, 0.8);
    }

    & #logo {
      background-image: url("/images/logo-light.svg");
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 90;
    }
  }

  html[data-is-top="false"] header {
    background-color: rgba(248, 250, 252, 1) !important;
    color: #18183b;
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);

    & #burger {
      background-color: #0d111c;
    }

    & #logo {
      background-image: url("/images/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 90;
    }
  }
</style>
